- if @dependant != nil
  %h1 Billing for your Dependant: #{@dependant}
- if @dependant == nil
  %h1 Billing for Yourself: #{@user_name}

:javascript 
  $(function() {
    var chart = new Highcharts.Chart({
      chart: {
        renderTo: view_billing_chart_current, 
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      }, 
      title: { 
        text: ""
      }, 
      
     plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
      series: [{
            type: 'pie',
            name: 'Distrubtion',
            data: #{@pie_chart_series}
            //#{@pie_chart.to_json}
        }]
    });
    var chart_history = new Highcharts.Chart({
            chart: {
                type: 'area',
                renderTo: view_billing_chart_history
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: #{@dummy_dates},
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Dollar Per Month'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                shared: true,
                valuePrefix: '$'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: 
            
            #{@series_history_data}
            /*{
                name: 'Asia',
                data: [502, 635, 809, 947, 1402, 3634, 5268]
            }, {
                name: 'Africa',
                data: [106, 107, 111, 133, 221, 767, 1766]
            }, {
                name: 'Europe',
                data: [163, 203, 276, 408, 547, 729, 628]
            }, {
                name: 'America',
                data: [18, 31, 54, 156, 339, 818, 1201]
            }, {
                name: 'Oceania',
                data: [2, 2, 2, 6, 13, 30, 46]
            }*/
            
        });  
  });


-if @hide_current
  %div{:id => "view_billing_chart_current",  :style => "width:95%; height:50%;"}
  %div{:id => "view_billing_chart_history",  :style => "width:95%; height:50%; display: none"}
- else 
  %div{:id => "view_billing_chart_current",  :style => "width:95%; height:50%;   display:none"}
  %div{:id => "view_billing_chart_history",  :style => "width:95%; height:50%;"}

#current_history_container.container
  %ul.current_history_buttons
    %li
      =button_to "Current", view_billing_path({:graph => "current"}), :class => "buttons"
      .current_button
    %li
      .history_button
      =button_to "History", view_billing_path({:graph => "history"}), :class => "buttons"


%table#viewquota_table
  %head
    %tr{:id => "viewquota_table_header"}
      %td item 
      %td $/month
      %td usage
      %td cost
  %tbody
   
  - @cost.each do |name, cost|
    %tr
      %td= name
      %td= @monthlyRate[name]
      %td= @usageCost[name]
      %td= cost
      %br/  

%div{:id => "viewbilling_total_cost"} TOTAL COST= $#{@total_cost} 
    
          

=link_to "← Back to DashBoard", '/dashboard'
%br/
- if @dependant != nil
  =link_to "← Back to Dependants", viewdependants_path()
